<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <server.Properties.Settings>
            <setting name="base_color" serializeAs="String">
                <value>60, 70, 73</value>
            </setting>
            <setting name="flat_color" serializeAs="String">
                <value>0, 128, 255</value>
            </setting>
            <setting name="header_color" serializeAs="String">
                <value>53, 53, 53</value>
            </setting>
            <setting name="gui_gridline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gui_txtcolor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="keylogs_top" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Autoconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="srv_port" serializeAs="String">
                <value>1604</value>
            </setting>
        </server.Properties.Settings>
    </userSettings>
</configuration>
